<html>
<head>
    {% block head %}
    <title> {% block title %} {% endblock %} - DCM</title>
    <script type="text/javascript" src="static/js/jquery.js"></script>
    <script type="text/javascript" src="static/js/main.js"></script>
    <link rel="stylesheet" href="static/css/loader.css">
    <link rel="stylesheet" href="static/css/base.css">
    {% endblock %}
</head>
<body>
    <div id="header">
        <div id="navbar" class="flex-center header-1">
        <a id="mainlink" href="/">Главная</a>
        <a id="domainslink"href="/domains">Домены</a>
        </div>
    </div>
    {% block body%}
    {% endblock%}
</body>
</html>