{% extends "base.html.j2" %}
{% block title %}Домены{% endblock %}
{% block head %}
    {{ super() }}
    <script type="text/javascript" src="static/js/domains.js"></script>
    <style>
    </style>
{% endblock %}
{% block body %}

    <h1>Список доменов </h1>
    <div>
        <div>
            <p id="message"></p>
            <form method="post" action="{{new}}" onsubmit="return false">
                
                <p>{{form.domain()}}</p>
                <p><button onclick="new_domain(this.form)">Плюсик</button>
            </form>
        </div>
        <div>
            <table id="d_list">
                {% for domain, id, state in domains %}
                    <tr>
                        <td>{{loop.index0 + 1}}</td>
                        <td><input type="checkbox" {% if state %} checked {% endif %} onchange="console.log(switch_domain('{{domain}}', '{{sw}}', this.checked))"/></td>
                        <td><input id="d-{{id}}" value="{{domain}}" disabled></td>
                        <td><button id="d-ch-{{id}}" onclick="edit_domain('d-{{id}}', this, '{{edit}}')">Ручка</button></td>
                        <td><button onclick="mv_domain('{{domain}}', '{{mv}}')">Корзина</button></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}