{% extends "base.jinja" %}
{% block title %}Домены{% endblock %}
{% block head %}
    {{ super() }}
    <script type="text/javascript" src="static/js/domains.js"></script>
    <script> $(document).ready(function(){GetAll()})</script>
    <link rel="stylesheet" href="static/css/domains.css">
    <style>
        #domainslink{
            color: #00a1ff;
        }
    </style>
{% endblock %}
{% block body %}
    <div id="content">
        <div class="loadbox loaderfull"><span class="loader"></span></div>
        <div>
            <div id="roof">
                <div id="domainMessage"></div>
                <p id="hmsg" hidden></p>
                <div>
                    <input id="newHash" type="hidden", value="{{new}}">
                    <input id="switchHash" type="hidden", value="{{switch}}">
                    <input id="editHash" type="hidden", value="{{edit}}">
                    <input id="removeHash" type="hidden", value="{{remove}}">
                </div> 
                <input id="domainsearch" placeholder="Поиск" oninput="SearchDomain(this)">
                <label><input style="display:none" id="d_import" type="file" onchange="DomainsImport(this)">Импорт</label>
            </div>
            <div>
                <hr>
                <div>
                        <button onclick="OpenCloseNewDomainFiled('#newdomainfiled', $(this))">Большой плюс</button>
                </div>
                <table id="domains_list">
                    <tr id="newdomainfiled" style="display: none;">
                        <form method="post" onsubmit="return false">
                            <td></td>
                            <td></td>
                            <td>{{form.domain()}}</td>
                            <td>{{form.notify()}}</td>
                            <td>{{form.note()}}</td>
                            <td><button onclick="DomainCreate($(this.form).serializeArray()); $(this.form)[0].reset()">Плюсик</button></td>
                            <td></td>
                            <td></td>
                        </form>
                    </tr>
                    <tr>
                        <td>№</td><td><input id="switchall" type="checkbox" checked onchange="SwitchAllDomains(this.checked)"></td>
                        <td>Домен</td><td>Канал уведомления</td><td>Примечание</td><td></td>
                        <td><button onclick="RemoveManyDomains()">Много корзин</button></td>
                        <td><input id="selectall" type="checkbox" onchange="AllSelectRows(this.checked)"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

{% endblock %}