{% extends "base.jinja" %}
{% block title %}Домены{% endblock %}
{% block head %}
    {{ super() }}
    <script type="text/javascript" src="static/js/domains.js"></script>
    <script> window.onload = GetAll()</script>
    <style>
    </style>
{% endblock %}
{% block body %}

    <h1>Список доменов </h1>
    <div>
        <div>
            <div id="domainMessage"></div>
            <p id="hmsg" hidden></p>
            <div>
                <input id="newHash" type="hidden", value="{{new}}">
                <input id="switchHash" type="hidden", value="{{switch}}">
                <input id="editHash" type="hidden", value="{{edit}}">
                <input id="removeHash" type="hidden", value="{{remove}}">
            </div> 
            <form method="post" onsubmit="return false">
                <table>
                    <tr>
                        <td><p>{{form.domain()}}</p></td>
                        <td><p>{{form.notify()}}</p></td>
                        <td><p>{{form.note()}}</p></td>
                        <!-- <td><button onclick="new_object('/domains',$(this.form).serializeArray(), '{{new}}')">Плюсик</button></td> -->
                        <td><button onclick="DomainCreate($(this.form).serializeArray())">Плюсик</button></td>
                        <td><input id="d_import" type="file" onchange="DomainsImport(this)">Импорт</label></td>
                    </tr>
                </table>
            </form>
        </div>
        <div>
            <input placeholder="Поиск" oninput="SearchDomain(this)">
            <hr>
            <table id="domains_list">
                <tr>
                    <td>№</td><td><input id="switchall" type="checkbox" checked onchange="SwitchAllDomains(this.checked)"></td>
                    <td>Домен</td><td>Канал уведомления</td><td>Примечание</td><td></td>
                    <td><button onclick="RemoveManyDomains()">Много корзин</button></td>
                    <td><input id="selectall" type="checkbox" onchange="AllSelectRows(this.checked)"></td>
                </tr>
            </table>
        </div>
    </div>

{% endblock %}