{% extends "base.jinja" %}
{% block title %}Главная{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="static/css/index.css">
    <style>
        #mainlink{
            color: #00a1ff;
        }
    </style>
{% endblock %}
{% block body %}
    {# <div class="loadbox"><span class="loader"></span></div> #}
    <p>{{ ua }}</p>

{% endblock %}